            <footer class="footer">
                <div class="pure-menu pure-menu-horizontal pure-menu-open">
                    <ul>
                        <li><a href="{{@blog.url}}">All rights reserved.</a></li>
                        <li><a href="http://ghost.org">Proudly published with Ghost</a></li>
                        <li><a href="http://ovirium.com">Aniu by Ovirium</a></li>
                    </ul>
                </div>
            </footer>
        </div>
    </div>
</div>

</body></html>